

  .img1
  {
    border: 5px solid #0fee2d; 
    height: 1500px;
    box-shadow: 1px 1px black;
  }
  .img2
  {
    border: 5px solid #3c91f1; 
    height: 850px;
  }
  .img3
 {
    height: 400px;
    width: 400px;
    background-color: #1ad5db;
    border-radius: 400px;
    display: inline-block;
    border: 15px solid #d4f809
  }
  .img4
  {
    clip-path: polygon(52% 0, 0 85%, 100% 85%);
    height: 800px;
    width: 800px;
    border: 15px solid #320ae4
  }
  .img5
  {
    clip-path: polygon(52% 0, 0 85%, 100% 85%);
    height: 800px;
    width: 800px;
    border: 15px solid #320ae4
  }

